$shadow-color: rgba(236, 189, 228, 0.404);
$main-color: rgb(187, 39, 180);
$textAndBars: #101010;
$section-main: rgba(248, 189, 195, 0.119);
$white : #ddd;
$main-text: #3e3e3e;
$border: rgb(254, 173, 181);
$background: rgba(247, 185, 192, 0.3);