@use "./colors" as color;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	font-family: "Montserrat", sans-serif;
	color: color.$main-text;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

@mixin main-gradient {
	background: rgb(224, 160, 241);
	background: linear-gradient(
		90deg,
		rgba(252, 140, 168, 0.9) 0%,
		rgba(251, 171, 191, 0.9) 70%,
		rgba(253, 212, 222, 0.9) 100%
	);
}

.gradient {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 15%;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}

.title-section {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 1.3em;
	text-align: center;
	font-size: 1.8rem;
	letter-spacing: 4px;
	color: color.$main-text;
}

@media (width >= 576px) {
	.title-section {
		font-size: 2rem;
	}
}

@media (width >= 768px) {
	.title-section {
		font-size: 2.4rem;
	}
}

@media (width >= 992px) {
	.title-section {
		font-size: 2.8rem;
	}
}

@media (width >= 1200px) {
	.title-section {
		font-size: 3.3rem;
	}
}

.title-section::after {
	position: absolute;
	bottom: -0.3em;
	left: -30%;
	width: 160%;
	height: 1px;
	content: "";
	background-color: color.$main-text;
}

// h3 {
// 	text-transform: uppercase;
// 	text-align: center;
// 	margin: 20px 0;
// }

.logo {
	width: 70px;
	height: 55px;
	border-radius: 50%;
	background-image: url("../../dist/img/heroMedium.jpeg");
	background-position: center;
	background-size: cover;
}

// NAV

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	@include main-gradient;
	z-index: 10;
}

.navigation,
.nav-top,
.menu-list {
	display: flex;
	align-items: center;
}

.navigation {
	justify-content: space-between;
	padding: 0 2em;
	height: 100%;
	width: 100%;
}

.nav-top {
	justify-content: space-between;
	height: 70px;
}

.burger-btn {
	height: 60px;
	width: 60px;
	border: none;
	cursor: pointer;
	background: none;
}

.ti-menu-2 {
	font-size: 5rem;
}

.bars-x {
	display: none;
	font-size: 5rem;
}

.active-bars-x {
	display: block;
}

.hide-bars {
	display: none;
}

.nav-bottom {
	height: 100vh;
	width: 100vw;
	@include main-gradient;
	transform: translateX(110vw);
	transition: transform 0.3s;
}

.show-miniNav {
	transform: translateX(0);
}

.menu-list {
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 80%;
}

.menu-list a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
	color: color.$main-text;
}
.big-menu-list {
	display: none;
}

@media (width >= 768px) {
	.nav-top {
		display: none;
	}

	.big-menu-list {
		display: flex;
		height: 100%;
	}

	.link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.big-menu-list a {
		position: relative;
		padding: 0 0.5em;
		text-decoration: none;
		text-transform: uppercase;
		color: color.$main-text;
		font-weight: bold;
		font-size: 1.7rem;
	}

	.big-menu-list a::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: color.$main-text;
		content: "";
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
	}

	a:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}

	.active-link {
		background-color: #ffffff;
	}
}
// HERO1

.hero1 {
	position: relative;
	margin-top: 70px;
	// width: 100%;
	// height: 100%;
}

.hero1 {
	img {
		width: 100%;
	}
}

.pink-color {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 37, 91, 0.35);
}

// HERO2

.hero2 {
	margin: 5em 0;
	position: relative;
	width: 100%;
	height: 170px;
}
.img-hero2 {
	height: 100%;
	width: 100%;
	background-image: url("../../dist/img/HeroImage2Small.JPG");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.shadow-hero2,
.gradient-hero2 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.shadow-hero2 {
	background-color: rgba(255, 37, 91, 0.35);
}

.gradient-hero2 {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 50%,
		rgba(255, 255, 255, 1) 100%
	);
}

.text-hero2 {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
}
.text-hero2 h1 {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.9rem;
	color: #fff;
	text-shadow: 1px 1px 1px black;
}

@media (width >= 355px) {
	.text-hero2 h1 {
		font-size: 2rem;
	}
	.hero2 {
		height: 220px;
	}
}

@media (width >= 576px) {
	.text-hero2 h1 {
		font-size: 2.5rem;
	}
	.hero2 {
		height: 220px;
	}
	.img-hero2 {
		background-image: url("../../dist/img/HeroImage2Medium.JPG");
	}
}

@media (width >= 768px) {
	.text-hero2 h1 {
		font-size: 3rem;
	}
	.hero2 {
		height: 280px;
	}
}

@media (width >= 992px) {
	.text-hero2 h1 {
		font-size: 3.5rem;
	}
	.hero2 {
		height: 300px;
	}
}

@media (width >= 1200px) {
	.text-hero2 h1 {
		font-size: 4rem;
	}
	.hero2 {
		height: 330px;
	}
}

// ABOUT ME

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-me-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	// height: 630px;
	width: 90%;
	padding: 0.1em;
	// padding-bottom: 2em;
	background-color: color.$background;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	transform-style: preserve-3d;
}

.about-me-name {
	margin: 1.5em 0;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	color: black;
	letter-spacing: 2px;
}

.about-me-picture {
	width: 90%;
	height: 360px;
	margin-top: 1em;
	background-image: url("../../dist/img/Właścicielka.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 15px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.about-me-text {
	margin-bottom: 4em;
	padding: 1em 0.5em;
	text-align: center;
	line-height: 1.3em;
	font-size: 1.5rem;
	font-weight: 300;
	color: black;
	z-index: 10;
}

@media (width >= 376px) {
	.about-me-text {
		padding: 2em;
		margin-bottom: 2em;
	}
	.about-me-picture {
		height: 400px;
		width: 300px;
	}
}

@media (width >= 576px) {
	.about-me-box {
		height: 700px;
		width: 80%;
	}
	.about-me-name {
		font-size: 1.7rem;
	}
	.about-me-text {
		font-size: 1.6rem;
		line-height: 1.4em;
	}
	.about-me-picture {
		height: 350px;
		width: 250px;
	}
}
@media (width >= 768px) {
	.about-me-box {
		height: 750px;
	}
	.about-me-name {
		font-size: 1.9rem;
	}
	.about-me-text {
		font-size: 1.8rem;
		line-height: 1.5em;
	}
	.about-me-picture {
		height: 400px;
		width: 300px;
	}
}
@media (width >= 992px) {
	.about-me-box {
		height: 800px;
	}
	.about-me-name {
		font-size: 2.1rem;
	}
	.about-me-text {
		font-size: 2rem;
		padding: 2em 4em;
		line-height: 1.6em;
	}
}

// COURSES

.courses,
.courses-cards-box,
.course-title,
.course-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.courses {
	flex-direction: column;
	margin-bottom: 10em;
}

.courses-cards-box {
	flex-wrap: wrap;
}

.course-card {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 180px;
	position: relative;
	margin: 20px 5px;
	border-radius: 30px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: transform 0.3s;

	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.15),
		6px 6px 12px rgba(0, 0, 0, 0.2);
}

.course-card:hover {
	transform: scale(1.03);
}

.basic {
	background-image: url("../../dist/img/Manicure\ BasicSmall.jpeg");
}

.przedluzanie {
	background-image: url("../../dist/img/PrzedłużanieSmall.jpeg");
}

.tempo {
	background-image: url("../../dist/img/Tempo\ pracySmall.jpeg");
}

.doszkolenie {
	background-image: url("../../dist/img/DoszkolenieSmall.jpeg");
}

.card-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: color.$cardShadow;
}

.course-title {
	position: absolute;
	padding: 0.5em 1em;
	top: 15%;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
	color: #fff;
	border: 1px solid white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.5rem;
	font-weight: 200;
}

.basic p {
	white-space: nowrap;
}

.przedluzanie .course-title,
.tempo .course-title,
.doszkolenie .course-title {
	font-size: 1.1rem;
}

.course-link {
	position: absolute;
	padding: 0.5em 1em;
	bottom: 12%;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid white;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-size: 1.5rem;
	font-weight: 200;
	transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.course-link:hover {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	font-size: 1.6rem;
}

@media (width >= 376px) {
	.course-card {
		width: 330px;
		height: 238px;
	}
	.course-title {
		font-size: 2rem;
	}
	.przedluzanie .course-title,
	.tempo .course-title,
	.doszkolenie .course-title {
		font-size: 1.7rem;
	}
	.course-link {
		font-size: 2rem;
	}
	.course-link:hover {
		font-size: 2.1rem;
	}
}

@media (width >= 576px) {
	.course-card {
		width: 380px;
		height: 274px;
		margin: 30px 30px;
	}
	.course-title {
		font-size: 2.4rem;
	}
	.przedluzanie .course-title,
	.tempo .course-title,
	.doszkolenie .course-title {
		font-size: 1.9rem;
	}
	.course-link {
		font-size: 2.4rem;
	}
	.course-link:hover {
		font-size: 2.5rem;
	}
}

// HERO 3

.hero3 {
	position: relative;
	margin-bottom: 5em;
	height: 250px;
	width: 100%;
	background-image: url("../../dist/img/pomiędzy\ szkoleniami\ a\ ofertąSmall.JPG");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.hero3-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 184, 242, 0.4);
}

@media (width >= 576px) {
	.hero3 {
		background-image: url("../../dist/img/pomiędzy\ szkoleniami\ a\ ofertąMedium.JPG");
	}
}

// TREATMENTS

.treatments {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4em;
}

.treatments-cards-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	perspective: 1000px;
}

.treatments-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 240px;
	height: 430px;
	margin: 1em;
	margin-bottom: 5em;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.face {
	background-image: url("../../dist/img/twarzSmall.jpg");
}

.nails {
	background-image: url("../../dist/img/manicurepedicureSmall.JPG");
}
.eyelashes {
	background-image: url("../../dist/img/rzęsySamll.JPG");
}

.treatments-card-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 200, 214, 0.73);
}

.treatments-course-title {
	position: absolute;
	top: 10%;
	padding: 1em 2em;
	color: black;
	border: 1px solid black;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.6rem;
}

.nails .treatments-course-title {
	width: 70%;
	padding: 0.5em 1em;
	overflow-wrap: break-word;
}

.treatments-course-link {
	position: absolute;
	bottom: 15%;
	padding: 0.5em 1em;
	color: black;
	border: 1px solid black;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	letter-spacing: 2px;
	font-size: 1.5rem;
	// font-weight: 300;
	z-index: 10;
	transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.treatments-course-link:hover {
	// transform: scale(1.05);
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

@media (width >= 376px) {
	.treatments-card {
		margin-left: 3em;
		margin-right: 3em;
	}

	.treatments-card {
		width: 290px;
		height: 490px;
	}

	.treatments-course-title {
		font-size: 2rem;
	}
	.nails .treatments-course-title {
		padding: 0.8em 1em;
	}

	.treatments-course-link {
		font-size: 2rem;
	}
}

// OUR TEAM

.our-team,
.co-worker-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.all-team {
	margin-bottom: 5em;
	margin-top: 3em;
	width: 95%;
	max-width: 700px;
	border-radius: 50px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.co-worker-card {
	display: flex;
	flex-direction: column;
	margin-bottom: 5em;
	max-width: 700px;
	width: 80%;
	border-radius: 50px;
	background-color: color.$background;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.3);
}

.co-worker-img {
	width: 100%;
	height: 330px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.klaudia {
	background-image: url("../../dist/img/KlaudiaSmall.JPG");
}

.patrycja {
	background-image: url("../../dist/img/Patrycja\ bratowaSmall.JPG");
}

.marita {
	background-image: url("../../dist/img/MaritaSmall.JPG");
}

.julia {
	background-image: url("../../dist/img/JuliaSmall.JPG");
}

.co-worker-info {
	padding: 2em;
	text-align: center;
	color: black;
	line-height: 1.5em;
	font-size: 1.4rem;
	font-weight: 300;
}

.name {
	margin-bottom: 1em;
	font-size: 1.4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

@media (width >= 376px) {
	.co-worker-card {
		width: 290px;
	}
}

@media (width >= 576px) {
	.co-worker-card {
		display: flex;
		flex-direction: row;
		width: 95%;
	}
	.co-worker-img {
		width: 40%;
		height: 360px;
		background-size: cover;
	}
	.co-worker-info {
		width: 90%;
		padding: 0 3em;
	}

	.co-worker-card .patrycja {
		order: 1;
	}

	.co-worker-card .julia {
		order: 1;
	}
}

@media (width >= 992px) {
	.co-worker-card {
		display: flex;
		flex-direction: row;
		max-width: 900px;
	}

	.co-worker-info p {
		font-size: 2rem;
		line-height: 1.4em;
	}
	.name {
		font-size: 1.4rem;
	}
}

// FOOTER

.footer-top,
.fotter-adress-text,
.footer-links,
.footer-hours,
.daysAndHours,
.hours,
.days,
.footer-bottom {
	display: flex;
}

.fotter-adress-text,
.footer-links,
.footer-hours,
.hours,
.days {
	flex-direction: column;
}

.footer-top,
.footer-links,
.footer-hours,
.hours,
.days,
.fotter-adress-text,
.footer-bottom {
	align-items: center;
}

.fotter-adress-text,
.footer-links a,
.footer-hours > p,
.hours,
.days {
	font-size: 1.3rem;
}

.fotter-adress-text,
.footer-links,
.footer-hours {
	margin: 1.5em;
}

.footer-top {
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 4em;

	@include main-gradient;
}

.fotter-adress-text {
	line-height: 1.5em;
}

.footer-icons {
	padding: 0.5em;
}

.social-icons a {
	display: inline-block;
	padding: 0.4em 0.5em;
	text-decoration: none;
	font-size: 1.9rem;
	color: color.$main-text;
}

.footer-links {
	justify-content: space-around;
}

.footer-links a {
	text-decoration: none;
	text-transform: uppercase;
	color: color.$main-text;
	padding: 0.5em;
}
.footer-links a:active {
	color: #fff;
	background-color: none;
}

.footer-hours {
	width: 170px;
}

.footer-hours > p {
	margin-bottom: 0.7em;
	text-transform: uppercase;
}

.daysAndHours {
	justify-content: space-between;
	width: 100%;
}

.hours,
.days {
	line-height: 1.4em;
}

.footer-line {
	width: 100%;
	height: 2px;
	background-color: color.$main-text;
}

.footer-bottom {
	justify-content: center;
	width: 100%;
	height: 40px;
	@include main-gradient;
}

.footer-logo {
	margin-right: 1em;
	width: 30px;
	height: 30px;
}

@media (width >= 340px) {
	.fotter-adress-text {
		font-size: 1.5em;
	}
}

// CONTACT

.contact,
.contact-address,
.contact-adress-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact {
	margin-top: 3em;
}

.contact-address {
	margin-top: 1em;
	margin-bottom: 5em;
}

.contact-adress-text {
	text-align: center;
	line-height: 1.9em;
	font-size: 1.6rem;
}

.contact-social-icons {
	display: flex;
	width: 40%;
	align-items: center;
	justify-content: space-between;
}

.contact-social-icons a {
	margin-top: 0.3em;
	font-size: 2.8rem;
	text-decoration: none;
	color: black;
}

.contact-map {
	width: 90%;
	height: 60vh;
	max-width: 600px;
}

@media (width >= 576px) {
	.contact-adress-text {
		font-size: 1.8rem;
	}
	.contact-social-icons a {
		font-size: 3.3rem;
	}
}
@media (width >= 992px) {
	.contact-adress-text {
		font-size: 2.5rem;
	}
	.contact-social-icons a {
		font-size: 4.1rem;
	}
}

// STATUTE
.statute {
	display: flex;
	align-items: center;
	justify-content: center;
}
.statute-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5em;
	padding: 2em;
	width: 90%;
	position: relative;
	color: black;
	border: 16px solid black;

	background-image: url("/dist/img/tło\ od\ Patrycji.jpg");
	background-size: cover;
	background-position: center;

	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.statute-title {
	text-transform: uppercase;
	margin: 0.5em 0em 0.5em 0em;
	letter-spacing: 2px;
	font-size: 2.5rem;
	text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}

.statute-owner {
	margin-bottom: 2em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 15px;
	letter-spacing: 3px;
}

.statute-list {
	margin-left: 1em;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.statute-list li {
	margin-bottom: 1em;
}

@media (width >= 376px) {
	.statute-box {
		width: 300px;
	}
}
@media (width >= 576px) {
	.statute-box {
		width: 300px;
	}

	.statute-title {
		letter-spacing: 5px;
		font-size: 3rem;
	}

	.statute-owner {
		font-size: 1.7rem;
		line-height: 20px;
		letter-spacing: 3.5px;
	}

	.statute-list {
		font-size: 1.2rem;
	}
}

@media (width >= 768px) {
	.statute-box {
		width: 450px;
	}

	.statute-title {
		letter-spacing: 8px;
		font-size: 5.2rem;
	}

	.statute-owner {
		font-size: 2.5rem;
		line-height: 1.4em;
		letter-spacing: 3.8px;
	}

	.statute-list {
		font-size: 1.5rem;
	}
}

@media (width >= 992px) {
	.statute-box {
		width: 800px;
		padding: 3em 7em;
	}

	.statute-title {
		font-size: 6rem;
	}

	.statute-owner {
		font-size: 3.5rem;
		line-height: 1.4em;
		letter-spacing: 3.8px;
	}

	.statute-list {
		font-size: 2rem;
	}
}

//PRICES

.price {
	margin-top: 4em;
	padding: 0 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 80%;
	text-transform: uppercase;

	background-image: url("/dist/img/tło\ od\ Patrycji.jpg");
	background-size: cover;
	background-position: center;

	border: solid color.$main-text 7px;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.15),
		6px 6px 12px rgba(0, 0, 0, 0.2);
	color: black;
}

.price-title {
	margin: 0.5em 0;
	letter-spacing: 3px;
	font-size: 4rem;
	z-index: 1;
}

.price-info {
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.5em;
	z-index: 1;
}
.prices-box {
	position: relative;
	width: 100%;
}

.prices-box:last-child {
	margin-bottom: 5em;
}

.strip {
	position: absolute;
	top: 0;
	left: 70%;
	width: 7px;
	height: 100%;
	background-color: color.$main-text;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.3em;

	// margin: 0.7em 0;
	// border-bottom: solid 1px black;
}
.item p {
	margin: 0 1em;
	z-index: 1;
}

@media (width > 300px) {
	.strip {
		left: 77%;
	}
}

@media (width > 576px) {
	.price {
		width: 450px;
	}
	.price-title {
		font-size: 6rem;
	}
	.price-info {
		font-size: 3rem;
	}
	.prices-box {
		font-size: 1.5rem;
	}
}

@media (width > 992px) {
	.price {
		width: 700px;
		padding: 0 2em;
	}
	.price-title {
		font-size: 7rem;
	}
	.price-info {
		font-size: 4rem;
	}
	.prices-box {
		font-size: 2rem;
	}
}

// FACE PRICE

.face-one,
.face-five,
.face-eight {
	margin-bottom: 3em;
}

//MANICURE PRICE

.left {
	display: inline-block;
	max-width: 60%;
}

.manicure-eleven,
.manicure-fourteen {
	margin-bottom: 3.8em;
}

// LASHES

// COURSES

.course {
	display: flex;
	align-items: center;
	justify-content: center;
}
.course-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3em;
	width: 90%;
	border: 1px solid black;
}
.course-side-title {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 1.5rem;
}
.main-title {
	// margin-right: auto;
	text-transform: uppercase;
}
.bottom-title {
	margin-left: auto;
	font-family: "Luxurious Script", sans-serif;

}
.course-info{
	background-image: url("/dist/img/tło\ od\ Patrycji.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
}

